*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: #000000;
    margin: 0px;
    padding: 0;
    background-color: #ff0000;
}

.contenuPrincipale{
    max-width: 700px;
    min-height: 500px;
    margin: auto;
    background: gray;
    display: flex;
    margin-top: 5%;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}

.login-box{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 35%;
    display: inline-flex;
    width: 50%;
    justify-content: center;
    border-right: solid #ff0000 1px;
} 
.Client-box{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 35%;
    display: inline-flex;
    width: 50%;
    justify-content: center;
    border-left: solid #ff0000 1px;
    
}
