*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(130deg,#e7e7e7,#e0e0e0);
}
.Main-Content{
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    min-height: 600px;
    margin: auto;
    overflow: auto;
}