*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.Main-Content{
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    min-height: 600px;
    margin: auto;
    overflow: auto;
}